<body>
    <div class="product-container">
      <header class="header">
        <h2>Sản phẩm</h2>
        <div class="header-controls">
          <div class="search-box">
            <input type="text" placeholder="Search">
            <i class="bi bi-search"></i>
          </div>
          <i class="bi bi-bell"></i>
        </div>
      </header>
  
      <div class="product-actions">
        <button class="btn-add-product">+ Add product</button>
        <div class="btn-group">
          <button class="btn-export">Export data</button>
          <select class="sort-select">
            <option value="id">Sort by: ID</option>
            <option value="name">Sort by: Name</option>
          </select>
        </div>
      </div>
  
      <table class="product-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Hình ảnh</th>
            <th>Tên</th>
            <th>Thương hiệu</th>
            <th>Danh mục</th>
            <th>Đơn giá</th>
            <th>Số lượng tồn kho</th>
            <th>Dung tích</th>
            <th>Thành phần</th>
            <th>Mùi hương</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <td>0</td>
         <td>1</td>
         <td>2</td>
         <td>3</td>
         <td>4</td>
         <td>5</td>
         <td>6</td>
         <td>7</td>
         <td>8</td>
         <td>9</td>
         <td>10</td>
        </tbody>
      </table>
  
      <div class="pagination">
        <button class="page-btn">1</button>
        <button class="page-btn active">2</button>
        <button class="page-btn">3</button>
        <button class="page-btn">4</button>
        <button class="page-btn">5</button>
        <span>...</span>
        <button class="page-btn">20</button>
      </div>
    </div>
  </body>